/* DM Serif Display - https://fonts.google.com/specimen/DM+Serif+Display

Quote - DM Serif Display / 120px font size / 110px line height / Italic

Quote color: #4B4035
Quotation mark color: #A07C5B */

body {
  background-image: url('./assets/PAPER-TEXTURE.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  font-family: 'DM Serif Display', serif;
  font-size: 60px;
  line-height: 110px;
  color: #4B4035;
  margin: 0;
  padding: 0;
  text-align: center;
  font-style: italic; 
}