body {
  margin: 0;
  background-color: rgb(72, 70, 70);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy {
  display: flex;
  align-items: center;
  border: 3px solid gray;
  border-radius: 6px;
}

#input {
  background-color: rgb(72, 70, 70);
  border: none;
  padding: 1.2rem 3rem;
  color: white;
}

.clipboard {
  padding-right: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.check {
  padding-right: 10px;
  background-color: transparent;
  border: none;
}
#tooltip {
  position: relative;
  right: -220px;
  top: -112px;
  padding: 12px;
  width: fit-content;
  color: white;
  background: black;
  border-radius: 14px;
}