body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.932);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
}

#tag {
  background-color: rgb(164 164 164 / 24%);
  color: white;
  padding: 1rem 3rem;
  border: none;
}
label {
  margin-bottom: 1rem;
  display: flex;
  color: white;
}
.tag-element {
  padding: 0.3rem 1rem;
  margin-top: 0.6rem;
  background: #343434;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
img:hover {
  cursor: pointer;
}