.app-container {
  background-color: black;
  color: white;
  padding: 2rem;
  font-family: Arial, sans-serif;
  width: 20rem;
  border: 1px solid #f1f1f1;
  border-radius: 12px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.text-input label,
.radio-group label,
.checkbox-group label {
  font-weight: bold;
  margin-bottom: .7rem;
  font-size: 1rem;
}

.text-input {
  display: flex;
  flex-direction: column;
}
.checkbox-options {
  flex-direction: column;
}  

.radio-options,
.checkbox-options {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.submit-button button {
  background-color: limegreen;
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
}

.submit-button button:hover {
  background-color: darkgreen;
}


#fullName, #email {
  background: transparent;
  padding: 1rem 2rem;
  border: 1px solid gray;
  border-radius: 12px;
  color: white;
}